.centeredDivActualizar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: -1%;
    left: 0;
    z-index: 1;
    color: black;
}

.contentWrapperActualizar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.formContainerActualizar {
    color: white;
    width: 380px;
    background-color: rgba(255, 255, 255, 0.836);
    display: flex;
    margin: 1px;
    flex-direction: column;
    gap: 5px;
    padding: 0px 20px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.name {
    display: flex;
    justify-content: space-between;
}

.phone {
    padding: 8px 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    border: 1px solid #000000;
}

input[type='checkbox'] {
    accent-color: rgb(5, 211, 183);
    width: 15px;
    height: 15px;
    z-index: 9999;
    margin-right: 3px;
    margin-left: 3px;
}

.type {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    align-items: center;
    color: black;
}

.updateData {
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-weight: 500;
    background-color: rgb(5, 211, 183);
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 15px;
    
}

.cancelUpdateData {
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-weight: 500;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 15px;
    margin-bottom: 15px;
}

.updateData:hover {
    background-color: rgb(0, 88, 77);
}

.updateData:active {
    background-color: rgb(0, 88, 77);
}

.permissionsContainerActualizar {
    margin-top: 1px;
}

.cancelUpdateData:hover {
    background-color: rgba(0, 0, 0, 0.822);
}

.cancelUpdateData:active {
    background-color: rgba(0, 0, 0, 0.822);
}

.permissionsActualizar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.permissionActualizar {
    display: flex;
    align-items: center;
}